/*.inline{*/
    /*display: inline-block !important;*/
    /*width: 100px;*/
/*}*/
p.vertical{
    /*writing-mode: tb-rl;*/
    /*filter: flipH flipV;*/
    /*background:#fff; !* для устранения бага с отображением текста в IE6 и ниже *!*/
    /*text-align:center;*/


    /*-webkit-transform: rotate(271deg);*/
    /*-moz-transform: rotate(271deg);*/
    /*-o-transform: rotate(271deg);*/
    /*writing-mode: lr-tb;*/
    display: inline-block;
    white-space: nowrap;
    width: 20px;
    height: 125px;
    transform: translate(0,100%) rotate(-90deg);
    transform-origin: 0 0;
}
.vertical:after {
    content: "";
    float: left;
    margin-top: 100%;
}

.main{
    padding-top: 7px;
    font-size: small !important;
}

th{
    text-align: center !important;
}
td{
    text-align: center !important;
}
input{
    font-size: small !important;
    height: 29px !important;
    text-align: center;
}
button{
    font-size: small !important;
}
